.note {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  height: 200px;
  padding: 1rem;
  background: black;
  border-radius: 1rem;
  & input {
    width: 100%;
    background: black;
    border: none;
    outline: none;
    color: white;
  }
  & textarea {
    font-size: 1.25rem;
    height: 100%;
    resize: none;
    background: black;
    border: none;
    outline: none;
    color: white;
  }
  .trash-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
}
